.container-info-login {
    background-color: rgba(246, 79, 7, 0.707);

    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 0.625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .icon-logo-info {
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 2rem;
        margin-top: 10px;
    }

    .title-info {
        font-size: 1rem;
        color: white;
        padding-top: 0.625rem;
        justify-content: center;
        align-items: center;
    }
    .subtitle-info{
        color: white;
        text-align: center;
        font-size: 1rem;
        padding: 0.625rem;
        font-weight: 550;
        justify-content: center;
        align-items: center;
    }
    .btn-info-login {
        align-items: center;
        justify-content: center;
        margin: 5px;
        background-color: rgba(255, 255, 255, 0);
        color: white;
        border: 2px solid white;
    }
}