.container-admin {
    display: grid;
    grid-template-columns: minmax(250px, 1fr);
    grid-auto-rows: auto;
    width: 100%;
      
    .container-card-admin{
        border-radius: 10px;
        margin: 0 auto;
        margin-top: 3rem;
        width: 80%;
        text-align: center;
        border: 2px solid rgb(181, 148, 57);
        background-color: rgba(52, 52, 52, 0.615);
        box-shadow: 0 50px 70px -50px rgba(236, 199, 78, 0.8);

        .img-adminView{
        height: auto;
        width: 15.625rem;
        align-items: center;
        justify-content: center;
        }

    .titulo-User{
        padding: 5px;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 1rem;
        margin: 10px;
        font-weight: 400;
    }
    .title-msg-admin{
        font-size: 1rem;
        
    }
    .subtitulo-user{
        padding: 5px;
        margin: 3px;
        text-align: center;
        font-size: 1rem;
    }
    .container-btn-user {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        padding: 5px;
    }
    .btn-admin{
        padding: 10px;
        background-color: rgb(193, 162, 27);
        border: 1px solid white;
        letter-spacing: 1px;
    }
    }
}   