.spinner {

    width: 200px;
    height: 200px;
    margin: 0 auto;
    animation: spin 1s ease infinite;
    align-items: center;
    
    .img-spinner {
        width: 100%;
        height:100%;
        margin: 0 auto;
    }
}

@keyframes spin {
    0% {
        transform: rotate (0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}