.container-formulario{
    margin-top: 10px;
    border-top: 2px solid black;
.formulario{
    text-align: center;
    margin-top:5px;

    .titulo-formulario{
        font-size: 1.2rem;
        font-weight: 700;
        padding: 5px;
    }
    .form-control {
        padding: 5px;
        margin: 2px;
    }
}
}