/*Este archivo está acargo de importar todos los demás archivos que me hagan falta para estilados generales:*/
@use './scss/variables';




* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
}

body {
    background-color: #000000;
    background-image: url("https://static.vecteezy.com/system/resources/previews/002/252/474/non_2x/dark-geometric-black-abstract-background-elegent-design-pattern-free-vector.jpg");
    background-attachment: fixed;
    background-size: 100%;
    font-size: 16px;
    font-family: var(--font-roboto);
    width: 100%;
    min-height: 100vh;
}
section{
    margin-top: 0.625rem;

}
header {
    width: 100%;
}

button {
    background-color: rgba(250, 141, 8, 0.936);
    color: rgb(255, 255, 255);
    font-size: 1rem;
    border: 1px solid white;
    font-weight: 700;
    padding: 0.5rem;
    margin: 0.312rem;
    border-radius: 7px;
    cursor: pointer;
}
.item-count {
    color: white;
    padding: 0.625rem;
    font-weight: 600;
    font-size: 1.4rem;
}