/*Este archivo está acargo de importar todos los demás archivos que me hagan falta para estilados generales:*/
@use './scss/variables';




* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
}

body {
   
   font-size: 16px;
}
.estilos-greetin {
    color: white;
    margin: 10px;
    padding: 10px;
    font-size: 3rem;
    text-align: center;
    width: 100%;
}
button {
    background-color: rgba(28, 28, 28, 0.775);
    color: white;
    font-size: 2rem;
    padding: 0.312rem;
    margin: 0.312rem;
}

