                    //CLASE DE LOS ITEMS Y ITEM LIST
 // LIST GRID EN ITEMLISTCONTAINER
.item-lista-grid{
    width: 100%;
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(250px,1fr));
    grid-auto-rows: repeat(auto-fill,minmax(250px,1fr));
    gap:5px;
    margin-top: 10px;
 //CARD EN ITEM
    .container-items {
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        text-align: center;
        border: 1px solid rgb(4, 4, 4);
        background-color: rgba(0, 0, 0, 0.735);
        opacity: 0.8;
    }
    .container-titulo{
        padding: 0.3125rem;
        font-size: 1.2rem;
        font-weight: 700;
        color: white;
 
    }
    .img-item {
                width: 14.625rem;
                height: 15.625rem;
                border: 1px solid white;
                }
    .container-price {
        color: white;
        font-size: 1.2rem;
        padding: 0.312rem;
        font-weight: 600;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        
    }
    .detalle-item{
        font-size: 1rem;
        padding: 0.625rem;
    }
    //BOTONES ITEM COUNT
            .container-button{
            width: 100%;            
            align-items: center;
            justify-content: center;
            display: flex;

            .btn-item-add {
                cursor: pointer;
                font-size: 1.2rem;
                padding: 10px;
            }
            .btn-item {
                justify-content: space-between;
                cursor: pointer;
                padding: 0.312rem;
                font-size: 5px;
                
            }
            .item-count {
                font-weight: 700;
                font-size: 1.3rem;
                padding: 0.312rem;
                margin: 0.62rem;
            }}

    .container-items:hover {
        opacity: 1;
        transition: all .30s;
    }
}

                    //CLASE ITEM DETAIL
.card-grid {
width: 100%;
box-shadow: 1px 5px 15px 3px rgba(245, 244, 244, 0.308);;
max-width: 1200px;
background-color: rgba(0, 0, 0, 0.665);
margin: 20px auto;
display: grid;
border: 1px solid white;
grid-template-columns: repeat(2,1fr);
grid-template-rows: repeat(4, auto);
grid-template-areas:"imagen-grid descripcion-grid"
                     "imagen-grid descripcion-grid"
                     "imagen-grid descripcion-grid"
                     "imagen-grid descripcion-grid";
                     

        //Estilos para la DESCRIPCIÓN
        .container-descripcion{
            grid-area: descripcion-grid;
            display: flex;
            flex-direction: column;
            text-align: center;
            margin: 10px;

            .container-titulo-detail{
                font-size: 1.5rem;
                padding: 0.625rem;
                color: white;
                text-align: center;
            }
            .container-button{
                display: flex;
            }

            .container-categoria {
                font-size: 1.3em;
                padding: 0.625rem;         
                 border-top: 2px solid rgb(255, 142, 3);
                 border-bottom: 2px solid rgb(255, 142, 3);
                 color: white;
             }
             .container-price-detail{
                font-size: 1.3rem;
                color: white;
                padding: 0.625rem;
                border-bottom: 2px solid rgb(255, 142, 3);
                }}
            //Estilos para el IFRAME 3D
                .container-modelo3d{
                grid-area: imagen-grid;
                background-color: rgb(0, 0, 0);
                
                
                .iframe-3d> iframe {
                    width: 100%;
                    height:18.80rem;
                    align-items: center;
                    justify-content: center;
                    align-self: center;
                }}
        
                
}  


