.container-item{
    width: 300px;
    background-color: rgba(0, 0, 0, 0.89);
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    box-shadow: 1px 1px 10px 4px rgb(101, 100, 100);
    
            .img-item {
                width: 250px;
                height: 250px;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center center;
                border: 1px solid white;
                align-items: center;
                margin-top: 0.625rem;
            }
            .subtitulo-img {
                color: white;
                padding: 5px;
                font-size: 1.5rem;
                text-align: center;
            }
            .btn-item-add {
                cursor: pointer;
                font-size: 1.5rem;
            }
            .menu-item{
               justify-content: space-around;
               align-items: center;
               margin: 0 auto;
    
    
            .btn-item {
                justify-content: space-between;
                cursor: pointer;
                padding: 0.312rem;
                font-size: 1.3rem;
     
            }
            .item-count {
                color: white;
                font-weight: 700;
                font-size: 1.5rem;
                padding: 0.312rem;
                margin: 0.62rem;
            }
            }
            .btn-item-add:hover {
            color:  rgb(171, 232, 179);
            }
    
    }
    
    