.container-login {
  width: 70%;
  padding: 0.625rem;
  border: 2px solid black;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-color: rgba(214, 214, 214, 0.928);
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 50px 70px -50px rgba(246, 245, 245, 0.8);
  .container-img-login{
      border-radius: 50%;
      border: 3px solid rgb(118, 118, 118);
      align-items: center;
      width:  30%;
      height: 30%;
      margin: 0 auto;
      justify-content: center;
    .img-loginView {
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 110%;
         

    }}

  .titulo-login {
    font-size: 2rem;
    padding: 0.3125rem;
  }

  .form-login-container {
    
    width: 100%;
    max-width: 32.5rem;
    margin: 0 auto;
    padding: 10px;
    align-items: center;
    justify-content: center;
  
  .form-login {
    text-align: start;
    align-items: center;
    justify-content: center;
    margin: 10px 0px 10px 0px;
    text-align: center;
    font-size: 1.2rem;
  }}
  .label-form {
    padding-bottom: 5px;
    font-size: 1.2rem;
    font-weight: 600;
  }

  .input-submit-form{
    border-radius: 0.625rem;
    width: 6.25rem;
    margin-top: 0.3125rem;
    background-color: rgba(250, 141, 8, 0.936);
    color: white;
    text-align: center;
    border: 1px solid white;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
  }

  input {
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    font-size: 1.1rem;
    padding: 6px;
    margin-top: 10px;
    letter-spacing: 1px;
  }

  select {
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 5px;
    margin: 3px;
    width: 150px;
    outline: none;
    text-align: center;
  }

  .spanLogin-Register {
    font-size: 1rem;
    padding: 0.625rem;
    width: 12.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 0.3125rem;
    margin-bottom: 0.3125rem;
    cursor: pointer;
    font-weight: 600;

  }
}



