@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Tapestry&family=Water+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@1,8..144,500&family=Volkhov:wght@700&display=swap');
:root {
    --font-water:'Water Brush', cursive;
    --font-tapestry: 'Tapestry', cursive;
    --font-roboto : 'Roboto Mono', monospace;
}