.list-container-grid{
    border-bottom: 2px solid black;
    display: flex;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.893);
    grid-template-columns:repeat(auto-fill,minmax(250px,1fr));
    grid-auto-rows: repeat(auto-fill,minmax(250px,1fr));
    gap:5px;
    justify-content: space-evenly;
    align-items: center;

.li-list-buy{
    color: black;
    text-align: start;
    margin-left: 4px;
    font-weight: 600;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  .img-cartlist{
        width: 100px;
        height: 60px; 
        margin:3px;
        border: 1px solid orangered;
           
    }
}

.btn-list-delete{
    width: 1.87rem;
    text-align: center;
    justify-content: right;


}


}
.container-total-btn-list{
    background-color: rgba(255, 255, 255, 0.655);
    border-bottom: 2px solid black;

        .total-price{
        color: black;
        text-align: center;
        padding: 5px;
        font-weight: 750;
        font-size: 1.3rem;
    }
        .btnCartlist-grid{
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
}