.list-container-grid{
    border-bottom: 2px solid black;
    display: flex;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.893);
    grid-template-columns:repeat(auto-fill,minmax(250px,3fr));
    grid-auto-rows: auto;
    gap:5px;
    align-items: center;
    justify-content:space-evenly;
.li-list-buy{
    color: black;
    text-align: center;
    margin-left: 0.25rem;
    font-weight: 600;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    

  .img-cartlist{
        width: auto;
        height: 3.75rem; 
        margin:0.1875rem;
        border: 1px solid rgb(0, 0, 0);
        
    }
}

.btn-list-delete{
    width: 1.87rem;
    text-align: center;
    align-items: center;
    justify-content: start;
}


}
.container-total-btn-list{
    background-color: rgba(255, 255, 255, 0.655);
    border-bottom: 2px solid black;

        .total-price{
        color: black;
        text-align: center;
        padding: 5px;
        font-weight: 750;
        font-size: 1.3rem;
    }
        .btnCartlist-grid{
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
}

//Media query 
@media (max-width:500px){

    .list-container-grid{  
        width: 100%; 
    .li-list-buy{
        color: rgb(0, 0, 0);
        text-align: center;
        margin-left: 0.25rem;
        padding: 0.1875rem;
        font-weight: 600;
        width: 100%;
    }}
}