.list-cart-container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    border: 3px solid rgb(27, 24, 24);
    margin-bottom: 1.25rem;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: minmax(250px,1fr);

}
