.navbar-nav {
    width: 100%;
   
    .container-nav {
        background-color: rgba(0, 0, 0, 0.886);
        width: 100%;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-auto-rows: auto;
        align-items: center;
        justify-content: center;
    
    .container-logo{
    grid-column: 2/2;
    }
    .navbar-logo{
        height: 5rem;
        display: inline; 
    } 
    .navbar-vinculo {
        color: white;
        font-size: 1.7rem;
        text-align: start;
        letter-spacing: 3px;
        font-family: 'Volkhov', serif;
        grid-column: 3/5;   
    }

    } 
    
    .nav-list{
        grid-column:7/-1;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        margin-bottom: 0.3125rem;

        .nav-item {
        margin: 0.312rem;
        display: inline;
        padding: 0.18rem;
        font-size: 1rem;
    }

    .icon-cant{
        color: rgb(246, 79, 7);
        padding: 0.3125rem;
        
    }

    .nav-link {
        color: white;
        padding: 0.312rem;
        font-size: 1em;
        transition: all .5 ease;
    }

    .nav-link:hover{
        color: rgba(250, 141, 8, 0.936);
        
    }

    .icon-logo {
        color: white;
        font-size: 1.3em;
                
    }

    .icon-logo:hover {
        color: rgb(0, 176, 23);
    }
    }   
}

//MEDIA QUERIES NAVBAR

@media (max-width: 978px){
.navbar-nav {
width: 100%;  
.container-nav {
    background-color: rgba(0, 0, 0, 0.886);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .nav-list{
        grid-column:6/-1;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        margin-bottom: 0.3125rem;

        .nav-item {
       
        margin: 0.312rem;
        display: inline;
        padding: 0.18rem;
        font-size: 1rem;
    }}       
}
}}

@media (max-width:453px){
 .navbar-nav  { 
    width: 100%;
    .container-nav {
    justify-content: space-evenly;
    flex-wrap: wrap;
    .container-logo{
        flex-direction: row;
        justify-content: space-between;

    }
        .nav-list {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 0;
        
        .nav-item {
            
            flex-direction: row;
            justify-content: center; 
            align-items: center;

        .nav-link {
            padding: 0.125rem;
            font-size: .8em;

        }
        .icon-cant{
            color: orangered;
            padding: 1px;
           
        }}}
    }
}}



