header {
    width: 100%;
}
.navbar-nav {
    width: 100%;
   

    .container-nav {
        background-color: rgba(0, 0, 0, 0.886);
        width: 100%;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        align-items: center;
        justify-content: center;
    
    .container-logo{
        grid-column: 2/4;
    }
    .navbar-logo{
       
        height: 3.75rem;
        display: inline;
        font-size: 1rem;
        margin-left: 10px;
    }
    .navbar-vinculo {
        color: white;
        font-size: 1.4rem;
        letter-spacing: 1px;
        font-family: var(--font-water);
        grid-column: 4/7;
    }
    .navbar-vinculo:hover {
        color: rgba(250, 141, 8, 0.936);
    }

    } 
    
    .nav-list{
        grid-column:8/-1;
        align-items: center;
        text-align: end;
        margin-right: 1.25rem;
    .nav-item {
     margin: 0.312rem;
     display: inline;
   
    }
    .nav-link {
        color: white;
        padding: 0.312rem;
        font-size: 1em;
        transition: all .5 ease;
    }
    .nav-link:hover{
        color: rgba(250, 141, 8, 0.936);
        
    }

    .icono-logo {
        color: white;
        font-size: 1.3em;        
    }
    .icono-logo:hover {
        color: rgb(0, 176, 23);
    }
    }
    
}